
/* importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital@0;1&display=swap');

body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400; /* garantindo o tamanho e estilo corretos da fonte*/
    font-style: normal;
}