
/* importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital@0;1&display=swap');


/* reset global css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #f9f9f9;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* editando o main, a parte que possui todo o conteúdo principal*/
main{
    width: 100%; /* largura de 100% da tela (config para celular) */
    max-width: 700px; /* porém a largura máxima será de 700px, não vai aumentar mais que isso*/
    margin: 0 auto; /* centralizando horizontalmente */ 
}

header{
    text-align: center; /* alinhando ao centro (como os elementos do header tem displayu in-line, é possível alinhar com text-align ao invés de margin: auto)*/
    margin-bottom: 40px;
}
/* config da img dentro do header*/
header img {
    width: 100px; /* diminuindo largura para ganhar qualidade*/
}

h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400; /* garantindo o tamanho e estilo corretos da fonte*/
    font-style: normal;
}

/* configs do form*/
form{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

/* edição geral de cada field presente no html (seção das questões)*/
fieldset{
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.082); /* define borda personalizada */
    border-radius: 8px; /* circulo de cada borda de cada seção */
    margin-bottom: 15px; /* margin na parte de baixo para deixar separado cada seção */
}

/* config do legend - título de cada seção do form */
legend {
    font-weight: bold; /* deixando com aparencia de título*/
    padding: 0px 5px;
}